{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main%}
    <div class="dashboard">
        <div class="header">
            <h1>Dashboard</h1>
            <div class="break_line"></div>            
            <p>This page provides an overview of the different metrics of your beans, coffee use, amount of cups and your favorite brewing methods.</p>
        </div>
        <div class="header">
            <h1>Coffee use</h1>
            <div class="break_line"></div>
        </div>
        <div class="graphical_content">
            <div class="graphical_content_item">
                <div class="index_bar">
                    <canvas id="indexChart1"></canvas>
                </div>
            </div>
            <div class="graphical_content_item">
                <div class="index_line">
                    <canvas id="indexChart2"></canvas>
                </div>
            </div>
        </div>
        <div class="header">
            <h1>Register coffee use</h1>
            <div class="break_line"></div>
            <p>In this form, you can register your coffee use, so you can keep track of your stock of beans, the amount of coffees you drink during a given time period and what your favorite beans and brewing methods are.</p>
            <p>Just fill in the relevant information and register the use, and see how the other information will update!</p>
        </div>
        <div class="coffees_input">
            <form action="/", method="post">
                <div class="coffee_input">
                    <label for="cups">Cups:</label>
                    <input type="number" id="cups" step="1" name="cups" min="1" max="20">
                    <label for="coffee_bean_select">Bean:</label>
                    <select name="bean" id="coffee_bean_select">
                        <option value="/" disabled selected>Choose coffee bean</option>
                        {% for row in name_options %}
                        <option value="{{ row['bean_name'] }}">{{ row['bean_name'] }}</option>
                        {% endfor %}
                    </select>
                    <label for="dosage">Dose (g):</label>
                    <input type="number" id="dosage" name="dosage" min="1" max="100">
                    <label for="method">Method:</label>
                    <select name="method" id="method" name="method">
                        <option value="/" disabled selected>Choose brewing method</option>
                        <option value="espresso">Espresso</option>
                        <option value="moka">Moka</option>
                        <option value="french_press">French press</option>
                        <option value="v60">V60</option>
                        <option value="chemex">Chemex</option>
                        <option value="siphon">Siphon</option>
                    </select>
                    <button class="btn btn-secondary" type="submit">Register</button>
                </div>
            </form>
        </div>
        <div class="header">
            <h1>Favorites</h1>
            <div class="break_line"></div>
            <p>Here you can find your favorite beans, favorite type of beans and favorite brewing methods, based on your consumption.</p>
        </div>
        <div class="favorites">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                  <strong>Favorites:</strong>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Beans: <strong>{{ favor_bean }}</strong></li>
                  <li class="list-group-item">Type of beans: <strong>{{ favor_type }}</strong></li>
                  <li class="list-group-item">Methods: <strong>{% for row in favor_method %} {{ row }} | {% endfor %}</strong></li>
                </ul>
            </div>
        </div>
    </div>
    

    <!--Charts script-->
    <script>
        document.addEventListener('DOMContentLoaded', function(){
    
        // Make a chart to display the coffee bean stock.
        // When the stock is too low, color in red
        // When current batch is about to expire, gray
        
        const ctx1 = document.getElementById('indexChart1');
        const ctx2 = document.getElementById('indexChart2');
        // Bar chart
        // Get th elements with the bean names and stock amount from the table
        let table_stock = {{ chart_data_stock|tojson() }};
        
        var chart_labels = [];
        var chart_stock = [];

        //Populate a list for the labels and a list for the data.
        for (let i = 0; i < table_stock.length; i++) {
            chart_labels[i] = table_stock[i]['bean_name'];
            }
        for (let i = 0; i < table_stock.length; i++) {
            chart_stock[i] = parseFloat(table_stock[i]['amount']);
            }
        
            // Checks      
        console.log('labels: ' + chart_labels);
        console.log('stocks: ' + chart_stock);

        new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: chart_labels,
                datasets: [{
                label: 'Bean stock (g)',
                data: chart_stock,
                backgroundColor: '#6F4E37',
                borderRadius: 50,
                borderWidth: 2,
                barPercentage: 0.5,
                barThickness: 20,
                minBarLength: 2,
                }]
        
            },
            options: {
                indexAxis: 'y',
                responsive: true,
                scales:{
                    x:{
                        grid: {
                            display: false
                        }
                    }
                },
                animations: {
                    tension: {
                    duration: 1000,
                    easing: 'linear',
                    from: 1,
                    to: 0,
                    loop: true
                    }
                },
                plugins: {
                    legend: {
                        labels: {
                            font: {
                                size: 15
                            }
                        }
                    }

                }
            }
        });

        //  Line chart
        let line_data = {{ line_chart_data|tojson() }};

        // Checks      
        console.log('line data: ' + line_data);

        var dates = [];
        var cup_amount = [];

        //Populate a list for the dates and a list for the cups.
        for (let i = 0; i < line_data.length; i++) {
            dates[i] = line_data[i]['date'];
            }
        console.log('dates: ' + dates);

        for (let i = 0; i < line_data.length; i++) {
            cup_amount[i] = parseFloat(line_data[i]['cups']);
            }

        // Checks      
        console.log('cups: ' + cup_amount);

        const data = {
            labels: dates,
            datasets:[
                {
                label: 'Coffee cups',
                data: cup_amount,
                borderColor: 'red',
                fill: false,
                cubicInterpolationMode: 'monotone',
                tension: 0.4
                }
            ]
        };
        new Chart(ctx2, {
            type: 'line',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'Coffee cups consumption history'
                    }
                },
                interaction: {
                    intersect: false,
                    },
                scales: {
                    x: {
                        display: true,
                        title: {
                            display: true,
                            },
                        grid: {
                            display: false
                            }
                    },
                    y: {
                        display: true,
                        title: {
                        display: true,
                        text: 'Value'
                        },
                        suggestedMin: 0,
                        suggestedMax: 10
                    }
            }
        },
    });

});
    </script>
{% endblock %}