{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main%}
    <div class="dashboard">
        <div class="header">
            <h1>Dashboard</h1>
            <p>An overview of your stock of beans, the amount of coffees you drank and your favourite brewing methods.</p>
        </div>
        <div class="graphical_content">
            <div class="graphical_content_item">
                <div class="index_bar">
                    <canvas id="indexChart1"></canvas>
                </div>
            </div>
            <div id="graphical_content_item">
                This will be the coffee consumption chart
            </div>
        </div>
        <div class="coffees_input">
            <form action="/addCoffee">
                <div class="coffee_input">
                    <label for="cups">Number of cups</label>
                    <input type="number" id="cups">
                    <label for="coffee_bean_select">Beans used</label>
                    <select name="bean" id="coffee_bean_select">
                        ...
                    </select>
                    <label for="dosage">Coffee dose</label>
                    <input type="number" id="dosage">
                    <label for="method">Method used</label>
                    <select name="method" id="method">
                        <option value="espresso">Espresso</option>
                        <option value="moka">Moka</option>
                        <option value="french_press">French press</option>
                        <option value="v60">V60</option>
                    </select>
                    <button class="btn btn-secondary" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>

    <!--Charts script-->
    <script>
        document.addEventListener('DOMContentLoaded', function(){
    
    // Make a chart to display the coffee bean stock.
    // When the stock is too low, color in red
    // When current batch is about to expire, gray
    
    const ctx1 = document.getElementById('indexChart1');
      // Get th elements with the bean names and stock amount from the table
      let table_stock = {{ chart_data_stock|tojson() }};
      
      var chart_labels = [];
      var chart_stock = [];

      //Populate a list for the labels and a list for the data.
      for (let i = 0; i < table_stock.length; i++) {
          chart_labels[i] = table_stock[i]['bean_name'];
        }
      for (let i = 0; i < table_stock.length; i++) {
          chart_stock[i] = parseFloat(table_stock[i]['amount']);
        }
      
        // Checks      
      console.log('labels: ' + chart_labels);
      console.log('stocks: ' + chart_stock);

      new Chart(ctx1, {
          type: 'bar',
          data: {
            labels: chart_labels,
            datasets: [{
              label: 'Bean stock',
              data: chart_stock,
              backgroundColor: '#6F4E37',
              borderRadius: 50,
              borderWidth: 2,
              barPercentage: 0.5,
              barThickness: 20,
              minBarLength: 2,
            }]
      
          },
          options: {
            indexAxis: 'y',
            responsive: true,
          }
        });
            
        });
    </script>
{% endblock %}