{% extends "layout.html" %}

{% block title %}
    Log in page
{% endblock %}

{% block main %}
<div class="login_hero">
    <div class="content">
        <div class="header">
            <h1>For coffee fanatics, by coffee fanatics</h1>
            <p>A tool for coffee lovers to keep track of their consumption, stock of beans, favourite brewing methods and to discover new coffee beans around their area.</p>
        </div>.
        <div class="buttons">
            <button type="button" class="btn btn-dark">Log in</button>
            <button type="button" class="btn btn-light btn-outline-secondary">Register for free</button>
        </div>
    </div>
    <div class="image">
        <img src="../static/images/coffee_hero.jpeg" alt="">
    </div>
</div>
{% endblock %}