{% extends "layout.html" %}

{% block title %}
    My beans
{% endblock %}

{% block main%}
<div class="beans_container">
    <div class="header">
        <h1>My beans</h1>
        <p>An overview of your stock of beans. You can add all the beans you currently have to the list, in order to have an overview of the different types of beans you own, which rating you gave them etc.</p>
    </div>
    <div class="beans_table">
        <div class="beans_table_item">
            <table class="table table-striped table-responsive table-hover" id="mybeans">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Origin</th>
                    <th scope="col">Roast date</th>
                    <th scope="col">Expiry date</th>
                    <th scope="col">Retailer</th>
                    <th scope="col">Amount in stock (g)</th>
                    <th scope="col">Add stock</th>
                </tr>
            </thead>
            <tbody>
                {% for row in beans_data %}
                <tr>
                    <td scope="row" class="countercell"></td>
                    <td>{{ row['bean_name'] }}</td>
                    <td>{{ row['origin'] }}</td>
                    <td>{{ row['roast_date'] }}</td>
                    <td>{{ row['expiry_date'] }}</td>
                    <td>{{ row['retailer'] }}</td>
                    <td>{{ row['amount'] }}</td>
                    <td></td>
                </tr>      
                {% endfor %}     
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ModalBeanForm">
                            Add beans
                        </button>
                    </td>
                </tr>
            </tfooter>
        </table>
        </div>
        <div class="beans_table_item">
            Some graphs
            <img src="../static/images/coffee-bean.png" alt="temp">
        </div>   
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="ModalBeanForm" tabindex="-1" aria-labelledby="ModalBeanFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="ModalBeanFormLabel">Add a new type of bean</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/mybeans" method="post" id="NewBeanForm">
                    <fieldset><legend>Basic information</legend>
                        <label for="beanName">Name of the bean</label>
                        <input type="text" id="beanName" name="BeanName" placeholder="Kenya Washed Kiambu.." required>
                    
                        <label for="beanOrigin">Origin</label>
                        <input type="text" id="beanOrigin" name="BeanOrigin" placeholder="Kenya.." required>
                        
                        <label for="roastDate">Roast date</label>
                        <input type="date" id="roastDate" name="RoastDate" placeholder="dd/mm/yyyy.." required>
                        
                        <label for="expiryDate">Expiry date</label>
                        <input type="date" id="expiryDate" name="ExpiryDate" placeholder="dd/mm/yyyy.." required>

                        <label for="retailer">Retailer</label>
                        <input type="text" id="retailer" name="Retailer" placeholder="Kakalove.." required>
                        
                        <label for="stock">Amount (g)</label>
                        <input type="number" id="stock" name="Stock" placeholder="230g" min="0" required>
                    </fieldset>
                    <fieldset><legend>Detailed information</legend>
                        <label for="roast">Roasting level (0=light - 5=dark)</label>
                        <input type="number" id="roast" name="Roast" placeholder="3" min="0" max="5" step="0.1">
                        
                        <label for="notes">Notes</label>
                        <input type="text" id="notes" name="Notes" placeholder="Fruity..">
                        
                        <label for="acidity">Acidity (0=low - 5=high)</label>
                        <input type="number" id="acidity" name="Acidity" placeholder="3.5" min="0" max="5" step="0.1">
                    
                        <label for="CR-review">CR-Review</label>
                        <input type="number" id="CR-review" name="CR_Review" placeholder="95" min="86" max="100">
                        
                        <label for="description">Description</label>
                        <textarea id="description" name="Description" placeholder="Sweet-savory, richly  layered, complex.."  rows="5" cols="30"></textarea>
    
                        <label for="comments">Comments</label>
                        <textarea id="comments" name="Comments" placeholder="Good for espresso.."  rows="5" cols="30"></textarea>

                    </fieldset>
                    <button type="submit" class="btn btn-dark">
                        Add bean
                    </button>                                
                </form>
            </div>
        </div>
    </div>
</div> 

{% endblock %}