{% extends "layout.html" %}

{% block title %}
    My beans
{% endblock %}

{% block main%}
<div class="beans_container">
    <div class="header">
        <h1>My beans</h1>
        <div class="break_line"></div>
        <p>An overview of your stock of beans. You can add all the beans you currently have to the list, in order to have an overview of the different types of beans you own, which rating you gave them etc.</p>
    </div> 
    <!--Overview of beans user has added-->
    {% if table_empty == "0" %}
    <div id="beans_table">
        <div class="header">
            <h1>Overview table</h1>
            <div class="break_line"></div>
        </div> 
        <table class="table table-striped table-responsive table-hover" id="mybeans">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Origin</th>
                <th scope="col">Roast date</th>
                <th scope="col">Expiry date</th>
                <th scope="col">Retailer</th>
                <th scope="col">Amount in stock (g)</th>
                <th scope="col">Add stock</th>
                <th scope="col">More info</th>
            </tr>
        </thead>
        <tbody>
            {% for row in beans_data %}
            <tr>
                <td scope="row" class="countercell"></td>
                <td class="bean_name">{{ row['bean_name'] }}</td>
                <td class="type">{{ row['type'] }}</td>
                <td class="origin">{{ row['origin'] }}</td>
                <td>{{ row['roast_date'] }}</td>
                <td>{{ row['expiry_date'] }}</td>
                <td>{{ row['retailer'] }}</td>
                <td class="bean_stock">{{ row['amount'] }}</td>
                <td>
                    <form action="/addstock" method="post">
                        <div class="add_stock_form">
                            <input type="number" id="stock" name="stock" min="0" required step="1">
                            <input type="text" hidden class="BeanName" name="BeanName" value="" >
                            <button class="btn btn-dark" type="submit">Add</button>
                        </div>
                    </form>
                </td>
                <td>
                    <!-- Button ajax trigger detailed bean modal -->
                    <button type="submit" class=" btn btn-secondary btn-sm moreInfo">More info</button>
                </td>
            </tr>      
            {% endfor %}     
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <!-- Button trigger add bean modal -->
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ModalBeanForm">
                        Add beans
                    </button>
                </td>
            </tr>
        </tfooter>
    </table>
    </div>
    <!--Charts to display stock of beans and amount of each type of bean-->
    <div class="header">
        <h1>Stock</h1>
        <div class="break_line"></div>
    </div>
    <div class="bar">
        <canvas id="myChart1"></canvas>
    </div>
    <div class="header">
        <h1>Types and origins</h1>
        <div class="break_line"></div>
    </div>
    <div class="pies">
        <div class="pie">
            <h3 >Types</h3>
            <canvas id="myChart2">
            </canvas>
        </div>
        <div class="pie">
            <h3>Origins</h3>
            <canvas id="myChart3">
            </canvas>
        </div>
    </div>
    {% else %}
    <div class="no_table">
        <h1>You didn't register any beans yet!</h1>
        <p>Once you register some beans, all your data will appear here!</p>
        <p>Register you first beans now!</p>
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ModalBeanForm">
            Add my first beans
        </button>
    </div>
    {% endif %}      
</div>
<!-- Modal for add bean form-->
<div class="modal fade" id="ModalBeanForm" tabindex="-1" aria-labelledby="ModalBeanFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="ModalBeanFormLabel">Add a new type of bean</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/mybeans" method="post" id="NewBeanForm">
                    <fieldset><legend>Basic information</legend>
                        <label for="beanName">Name of the bean</label>
                        <input type="text" id="beanName" name="BeanName" placeholder="Kenya Washed Kiambu.." required>
                    
                        <label for="beanOrigin">Origin</label>
                        <input type="text" id="beanOrigin" name="BeanOrigin" placeholder="Kenya.." required>
                        
                        <label for="roastDate">Roast date</label>
                        <input type="date" id="roastDate" name="RoastDate" placeholder="dd/mm/yyyy.." required>
                        
                        <label for="expiryDate">Expiry date</label>
                        <input type="date" id="expiryDate" name="ExpiryDate" placeholder="dd/mm/yyyy.." required>

                        <label for="retailer">Retailer</label>
                        <input type="text" id="retailer" name="Retailer" placeholder="Kakalove.." required>
                        
                        <label for="stock">Amount (g)</label>
                        <input type="number" id="stock" name="Stock" placeholder="230g" min="0" required>
                    </fieldset>
                    <fieldset><legend>Detailed information</legend>
                        <label for="type">Bean type</label>
                        <input type="text" id="type" name="Type" placeholder="Arabica">

                        <label for="roast">Roasting level (0=light - 5=dark)</label>
                        <input type="number" id="roast" name="Roast" placeholder="3" min="0" max="5" step="0.1">
                        
                        <label for="notes">Notes</label>
                        <input type="text" id="notes" name="Notes" placeholder="Fruity..">
                        
                        <label for="acidity">Acidity (0=low - 5=high)</label>
                        <input type="number" id="acidity" name="Acidity" placeholder="3.5" min="0" max="5" step="0.1">
                    
                        <label for="CR-review">CR-Review</label>
                        <input type="number" id="CR-review" name="CR_Review" placeholder="95" min="86" max="100">
                        
                        <label for="description">Description</label>
                        <textarea id="description" name="Description" placeholder="Sweet-savory, richly  layered, complex.."  rows="5" cols="30"></textarea>
    
                        <label for="comments">Comments</label>
                        <textarea id="comments" name="Comments" placeholder="Good for espresso.."  rows="5" cols="30"></textarea>

                    </fieldset>
                    <button type="submit" class="btn btn-dark">
                        Add bean
                    </button>                                
                </form>
            </div>
        </div>
    </div>
</div> 
<!-- Pop up for detail card-->
<div class="modal fade" id="ModalBeanDetail" tabindex="-1" aria-labelledby="ModalBeanDetailLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="ModalBeanDetailLabel">Detail</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body detail_card_container">
                <!--See details.html-->
            </div>
        </div>
    </div>
</div>
<!--Modal script with AJAX, to dynamically show the detailed info of the beans in a pop up modal-->
<script type='text/javascript'>
    $(document).ready(function(){
        $('.moreInfo').click(function(){
            var name = getName(this);
            console.log('ajax_name: ' + name)
            $.ajax({
                url: '/ajaxfile',
                type: 'post',
                data: {name: name},
                success: function(data){ 
                $('.detail_card_container').html(data); 
                $('.detail_card_container').append(data.htmlresponse);
                $('#ModalBeanDetail').modal('show'); 
                }
            });
       });
});
</script>
    <!--Charts script-->
    <script>
        document.addEventListener('DOMContentLoaded', function(){
    //Make charts to display coffee bean stock, coffee types and origins
    const ctx1 = document.getElementById('myChart1');
    const ctx2 = document.getElementById('myChart2');
    const ctx3 = document.getElementById('myChart3');

    // Get the elements with the bean names and stock amount from the table
    let table_labels = document.getElementsByClassName('bean_name');
    let table_stock = document.getElementsByClassName('bean_stock');
    var chart_type_query = {{ chart_data_type|tojson() }};
    var chart_origin_query = {{ chart_data_origin|tojson() }};
    
    var chart_labels = [];
    var chart_stock = [];
    var chart_type_labels = [];
    var chart_type_values = [];
    var chart_origin_labels = [];
    var chart_origin_values = [];
      
    //Populate a list for the labels and a list for the data.
    for (let i = 0; i < table_labels.length; i++) {
        chart_labels[i] = table_labels[i].innerHTML;
    }
    
    for (let i = 0; i < table_stock.length; i++) {
        chart_stock[i] = parseInt(table_stock[i].innerHTML); //Convert the string into floats
    }
    // Populate a list for the labels and values for both the origins and types chart
    for (let i = 0; i < chart_type_query.length; i++) {
        chart_type_labels[i] = chart_type_query[i]['type'];
        chart_type_values[i] = parseInt(chart_type_query[i]['n']);
    }
    for (let i = 0; i < chart_origin_query.length; i++) {
        chart_origin_labels[i] = chart_origin_query[i]['origin'];
        chart_origin_values[i] = parseInt(chart_origin_query[i]['n']);
    }
    // Checks      
    console.log('labels: ' + chart_labels);
    console.log('stocks: ' + chart_stock);
    console.log('type labels: ' + chart_type_labels);
    console.log('type values: ' + chart_type_values);
    console.log('origin labels: ' + chart_origin_labels);
    console.log('origin values: ' + chart_origin_values);
      
    // Stock bar chart
    new Chart(ctx1, {
          type: 'bar',
          data: {
            labels: chart_labels,
            datasets: [{
              label: 'Bean stock',
              data: chart_stock,
              backgroundColor: '#6F4E37',
              borderRadius: 50,
              borderWidth: 2,
              barPercentage: 0.5,
              barThickness: 40,
              minBarLength: 2,
            }]
      
          },
          options: {
            indexAxis: 'y',
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true   // minimum value will be 0.
                    }
                }
            },
            plugins: {
                legend: {
                    display: false
                        }
                },
        });
    // Bean type pie chart
    new Chart(ctx2, {
            type: 'pie',
            data: {
              labels: chart_type_labels,
              datasets: [{
                label: 'Amount',
                data: chart_type_values,
                borderWidth: 1
              }]
        
            },
            options: {
            borderWidth: 5,
            borderRadius: 2,
            responsive: true,
            offset: 2,
            hoverOffset: 15,
            animation: {animateScale: true},
            plugins:{
                legend: {
                    position: 'bottom',
                    labels: {boxWidth: 10}
                }
            },
        }
          });
    // Bean origin pie chart
    new Chart(ctx3, {
        type: 'pie',
        data: {
            labels: chart_origin_labels,
            datasets: [{
            label: 'Amount',
            data: chart_origin_values,
            borderWidth: 2
            }]

        },
        options: {
            borderWidth: 5,
            borderRadius: 2,
            responsive: true,
            offset: 2,
            hoverOffset: 15,
            animation: {animateScale: true},
            plugins:{
                legend: {
                    position: 'bottom',
                    labels: {boxWidth: 10}
                }
            },
        }
        });
});
    </script>
    
{% endblock %}